<ion-header>
  <ion-toolbar>
    <ion-title>Resep nasi goreng</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
          <ion-col size="5">
          <div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
      <p>Nasgor</p>
      <p>
        Bahan-bahan:

¼ kg kacang tanah, goreng dan haluskan
5 siung bawang merah, haluskan
5 siung bawang putih, haluskan
4 buah cabe merah, haluskan
½ liter air
100 ml kecap manis
1 lbr daun jeruk
Merica bubuk, garam, dan gula secukupnya
Cara membuat Sate Ayam Rumahan:

Potong-potong daging ayam, tusuk dengan tusuk sate, lalu sisihkan.
Tumis bumbu halus dengan daun jeruk, air, kecap manis, garam, dan merica hingga matang dan mendidih, sisihkan.
Ambil bumbu kacang secukupnya lalu tambahkan dengan kecap manis. Lumurkan pada permukaan daging, diamkan sebentar agar bumbu meresap.
Panggang atau bakar sate sambil dilumuri bumbu olesan tadi secara bolak-balik agar tidak gosong.
Sate siap disajikan bersama bumbu kacang dan pelengkap seperti acar, irisan jeruk limau, dan irisan tomat.
      </p>
    </ion-row>

</ion-content>
