<ion-header>
  <ion-toolbar>
    <ion-title>Resep nasi goreng</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
          <ion-col size="5">
          <div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
      <p>Nasgor</p>
      <p>
        Bahan-bahan:

        1 kg daging sapi
        1 kg santan pekat dari 3 butir kelapa tua
        1 gelas air
        2 batang serai
        5 lbr daun jeruk purut
        2 lbr daun kunyit
        2 buah asam kandas
        5 buah cengkeh
        2 cm kayu manis
        2 buah bunga lawang (jika ada)
        Garam secukupnya
        Bumbu halus:
        
        20 buah cabai merah
        20 siung bawang merah
        6 siung bawang putih
        2 cm jahe
        2 cm lengkuas
        1 sdt ketumbar
        Cara membuat Rendang Daging Asli Minang:
        
        Langkah pertama mempraktikkan resep rendang daging yaitu mencuci daging sampai bersih, lalu potong sesuai selera.
        Ulek atau blender semua bumbu halus.
        Panaskan wajan, lalu masukkan santan, air, dan daging sapi. Aduk terus agar santan tidak pecah.
        Sambil terus diaduk, masukkan serai, daun jeruk purut, daun kunyit, asam kandis, dan garam.
        Setelah mengering dan berubah warna menjadi kecoklatan, masukkan kayu manis, bunga lawang, dan cengkeh. Tunggu mengering dan keluar minyak.
        Hidangkan di atas piring flat dengan taburan bawang untuk porsi 7 orang.
      </p>
    </ion-row>

</ion-content>
