<ion-header>
  <ion-toolbar>
    <ion-title>Resep ayam goreng</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
          <ion-col size="5">
          <div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
      <p>Ayam goreng</p>
      <p>
        Bahan-bahan	
8 porsi
1 ekor Ayam
1/4 sendok makan Paprika Bubuk
1/4 sendok makan Merica (Lada) Bubuk
1/4 sendok makan Bawang Putih Bubuk
1/4 sendok makan Garam
2 bungkus Tepung Bumbu Kobe
1 bungkus Susu Bubuk
2 liter Minyak Goreng
1/4 kg Tepung Terigu Protein Rendah
3 sendok makan Air

Langkah-langkah :
Cuci bersih ayam. Marinasi ayam dengan campuran paprika bubuk, lada bubuk, bawang putih bubuk serta garam dan air. 
Aduk dengan menggunakan tangan, sampai airnya habis meresap di ayamnya. Masukkan dalam freezer kurang lebih 15 menit.  
Sambil menunggu, campurkan tepung terigu dengan tepung bumbu dan susu bubuk. Aduk sampai rata.
Keluarkan ayam dari freezer. Setelah itu, panaskan minyak goreng.
Masukkan ayam dalam campuran tepung, tutupi ayam dengan tepung sampai tidak kelihatan dagingnya.
Setelah minyak panas, kecilkan api sampai paling kecil, agar ayam tidak gosong. Masukkan ayam, goreng sampai agak kuning kecoklatan
Angkat dan sajikan hangat-hangat
      </p>
    </ion-row>

</ion-content>
