<ion-header>
  <ion-toolbar>
    <ion-title>Resep nasi goreng</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
          <ion-col size="5">
          <div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
      <p>Nasgor</p>
      <p>
        Cara membuat :
        Tumis bawang putih hingga harum. Tambahkan telur lalu orak-arik.
        Tambahkan ayam yang telah dicincang halus dan sosis.
        Masukkan daun bawang. Tumis lagi.
        Masukkan nasi lalu aduk hingga rata.
        Tambahkan kecap ikan, garam, merica, dan penyedap rasa. ...
        Pindahkan nasi goreng putih pada piring saja.
      </p>
    </ion-row>

</ion-content>
